.post {
    width: 360px;
    height: 555px;
    box-shadow: 0 3px 29px rgba(111,111,111, 0.5);
    box-sizing: border-box;
}

.post__photo {
    width: 360px;
    height: 245px;
    position: relative;
}

.photo__icon {
    position: relative;
    right: -160px;
    top: -21px;
    width: 40px;
    height: 35px;
    background-color: #262626;
    padding: 7px 6px 5px 6px;
    box-sizing: border-box;
}

.post__category {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #999999;
    font-family: "Hind", serif;
    text-transform: uppercase;
    margin: 61px 0 0 0;
    text-align: center;
}

.post__title {
    margin: 4px 0 0 0;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #212121;
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.post__date {
    margin: 7px 0 0 0;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #999999;
    font-family: "Hind", serif;
    text-transform: uppercase;
    text-align: center;
}

.post__button {
    margin: 30px 0 0 131px;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 24px;
    color: #999999;
    font-family: "Hind", serif;
    text-transform: uppercase;
    display: inline-block;
}

.post__button:before {
    content: "";
    width: 30px;
    height: 1px;
    display: block;
    margin: 0 auto 4px;
    background-color: #d6d6d6;
}

.post__button:after {
    content: "";
    width: 30px;
    height: 1px;
    display: block;
    margin: 1px auto 0;
    background-color: #d6d6d6;
}


.post__button:hover {
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 24px;
    color: #d67900;
    font-family: "Hind", serif;
    text-transform: uppercase;
    display: inline-block;
}

.post__button:hover:before {
    content: "";
    width: 30px;
    height: 1px;
    display: block;
    margin: 0 auto 4px;
    background-color: #d67900;
}

.post__button:hover:after {
    content: "";
    width: 30px;
    height: 1px;
    display: block;
    margin: 1px auto 0;
    background-color: #d67900;
}


.post__line {
    margin-top: 40px;
    height: 1px;
    background-color: #f1f1f1;
}

.post__comments {
    margin: 20px 30px;
}
.comments__icon {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.comments__title {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #999999;
    font-family: "Hind", serif;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
}