<header class="header">
    <h1 class="header__title">Palo Alto</h1>
    <nav><ul class="header__menu">
        <li class="header-menu__item"><a href="./index.html">Home</a></li>
        <li class="header-menu__item"><a href="#">About</a></li>
        <li class="header-menu__item"><a href="#">Archive</a></li>
        <li class="header-menu__item_inactive"><a href="./contacts.html">Contact</a></li>
        <li class="header-menu__item_search"><a href="index.html"></a></li>
    </ul></nav>
</header>