<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About John Watson</title>
    <link rel="stylesheet" href="../styles/style.css">

</head>
<body>
<div class="container">
    <div class="left-column">
        <img src="../images/photo.jpg" class="photo" alt="">
    </div>
    <div class="right-column">
        <div class="header">
            About me
        </div>
        <div class="text">
            I’m John Watson Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>
</div>

</body>
</html>