<footer class="footer">
    <h3 class="footer__title">Palo Alto</h3>
    <ul class="footer__menu">
        <li class="footer-menu__item"><a href="./index.html">Home</a></li>
        <li class="footer-menu__item"><a href="#">About</a></li>
        <li class="footer-menu__item"><a href="#">Archive</a></li>
        <li class="footer-menu__item_inactive"><a href="./contacts.html">Contact</a></li>
        <li class="footer-menu__item_search"><a href="index.html"></a></li>
    </ul>
    <p class="footer__note">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec
        hendrerit
        ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt
    </p>
    <p class="footer__rights">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a href="index.html"
                                                                                                  class="footer__rights_link">PixelBuddha
        Team</a></p>
    <ul class="footer__social social">
        <li class="social__facebook"><a href="http://facebook.com"></a></li>
        <li class="social__twitter"><a href="http://twitter.com"></a></li>
        <li class="social__instagram"><a href="http://instagram.com"></a></li>
        <li class="social__pinterest"><a href="http://pinterest.com"></a></li>
    </ul>
</footer>