<footer class="footer">
    <h3 class="footer__title">Palo Alto</h3>
    <ul class="footer__menu">
        <li class="footer-menu__item"><a href="./index.html">Home</a></li>
        <li class="footer-menu__item"><a href="#">About</a></li>
        <li class="footer-menu__item"><a href="#">Archive</a></li>
        <li class="footer-menu__item__inactive"><a href="./contacts.html">Contact</a></li>
        <li class="footer-menu__item__search"><a href="index.html"></a></li>
    </ul>
    <p class="footer__note">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec
        hendrerit
        ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt
    </p>
    <p class="footer__rights">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a href="index.html"
                                                                                                  class="footer__rights__link">PixelBuddha
        Team</a></p>
    <div class="footer__social social">
        <a href="http://facebook.com"> <span class="social__facebook"></span></a>
        <a href="http://twitter.com"> <span class="social__twitter"></span></a>
        <a href="http://instagram.com"> <span class="social__instagram"></span></a>
        <a href="http://pinterest.com"> <span class="social__pinterest"></span></a>
    </div>
</footer>