<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>
<div class="skills-block">
    <h1 class="title">Skills</h1>
    <ul class="skills">
        <li class="skills__skill">
            <h2 class="skill__name">Communication</h2>
            <div class="skill_value communicaion"></div>
        </li>
        <li class="skills__skill">
            <h2 class="skill__name">Creativity</h2>
            <div class="skill_value creativity"></div>
        </li>
        <li class="skills__skill">
            <h2 class="skill__name">Teamwork</h2>
            <div class="skill_value teamwork"></div>
        </li>
        <li class="skills__skill">
            <h2 class="skill__name">Organization</h2>
            <div class="skill_value organization"></div>
        </li>
        <li class="skills__skill">
            <h2 class="skill__name">Leadership</h2>
            <div class="skill_value leadership"></div>
        </li>
        <li class="skills__skill">
            <h2 class="skill__name">Teamplayer</h2>
            <div class="skill_value teamplayer"></div>
        </li>
    </ul>
</div>
</body>
</html>