.footer {
    max-width: 952px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer__title {
    font-size: 36px;
    line-height: 25px;
    color: #4a569a;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: inline-block;
    margin: 70px 0 58px 0;
}

.footer__menu {
    list-style-type: none;
    padding: 0;
    margin: 0 0 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
    width: 50%;
}

.footer-menu__item, .footer-menu__item_inactive {
    color: #ffffff;
}

.footer-menu__item_search {
    background-image: url(./images/search.png);
    background-position: -32px 0;
    width: 16px;
    height: 16px;
}

.footer-menu__item_search:hover {
    opacity: 0.8;
}


.footer-menu__item_search:active {
    opacity: 0.5;
}

.footer-menu__item, .footer-menu__item_inactive {
    padding: 0;
    margin: 0;
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-menu__item_search {
    padding: 0;
    margin: 0;
    display: flex;
    width: 16px;
    height: 17px;
    vertical-align: text-top;
}

.footer-menu__item_inactive {
    opacity: 0.5;
}

.footer__note {
    font-size: 13px;
    line-height: 23px;
    max-width: 756px;
    width: 76%;
    margin: 0 0 0 0;
    text-align: center;
    color: #9da6d9;
}

.footer__note:before {
    display: block;
    border-top: 2px solid #5765b5;
    content: "";
    max-width: 755px;
    margin-bottom: 35px;
}

.footer__note:after {
    display: block;
    border-top: 2px solid #5765b5;
    content: "";
    max-width: 700px;
    margin: 35px 0 30px 0;
}

.footer__rights {
    font-size: 14px;
    line-height: 30px;
    color: #9da6d9;
    text-align: center;
    margin: 0 0 29px 0;
}

.footer__rights__link {
    font-size: 14px;
    line-height: 30px;
    color: #fff;
}

.footer__social {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

.social {
    width: 167px;
}

.social__facebook {
    display: inline-block;
    background-image: url(./images/Social.png);
    background-position: 0 0;
    width: 24px;
    height: 22px;
    margin-right: 22px;
}

.social__instagram {
    display: inline-block;
    background-image: url(./images/Social.png);
    background-position: 0 -22px;
    width: 22px;
    height: 22px;
    margin-right: 22px;
}

.social__twitter {
    display: inline-block;
    background-image: url(./images/Social.png);
    background-position: -24px 0;
    width: 24px;
    height: 21px;
    margin-right: 22px;
}

.social__pinterest {
    display: inline-block;
    background-image: url(./images/Social.png);
    background-position: -22px -22px;
    width: 22px;
    height: 22px;
}

.social__facebook:hover, .social__instagram:hover, .social__twitter:hover, .social__pinterest:hover {
    opacity: 0.8;
}

.social__facebook:active, .social__instagram:active, .social__twitter:active, .social__pinterest:active {
    opacity: 0.5;
}

.footer-menu__item:after {
    position: relative;
    display: block;
    bottom: -10px;
    right: -100%;
    content: "";
    background-color: #fff;
    height: 2px;
    width: 0;
    transition: right 0.3s, width 0.3s;
}

.footer-menu__item:hover:after {
    right: 0;
    width: 100%;
}

.footer-menu__item:active {
    opacity: 0.6;
}

@media screen and (max-width: 480px) {

    .footer {
        width: calc(100% - 20px);
        padding: 10px;
    }

    .footer__menu {
        width: 100%;
    }

    .footer-menu__item_search {
        display: none;
    }
}

@media screen and (max-width: 320px) {

    .footer__menu {
        flex-direction: column;
        align-items: center;
    }

    .footer-menu__item:after {
        bottom: 0;
    }
}