<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="../styles/contacts.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <header class="header">
        <h1 class="header__title">Palo Alto</h1>
        <ul class="header__menu">
            <li class="header-menu__item"><a href="index.html">Home</a></li>
            <li class="header-menu__item"><a href="#">About</a></li>
            <li class="header-menu__item"><a href="#">Archive</a></li>
            <li class="header-menu__item__inactive">Contact</li>
            <a href="index.html">
                <li class="header-menu__item__search"></li>
            </a>
        </ul>
    </header>
    <main class="content">
        <article class="content__post">
            <h1 class="post__title">Contact info</h1>
            <p class="post__text">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante
                posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam
                justo.</p>
            <form action="#" method="post" class="post__form">
                <input id="form__name" type="text" placeholder="Your name" tabindex="1">
                <input id="form__email" type="text" placeholder="Email" tabindex="2">
                <input id="form__subject" type="text" placeholder="Subject" tabindex="3">
                <textarea id="form__message" type="text" placeholder="Your message" tabindex="4"></textarea>
                <input type="submit" class="post__button" value="Send message" tabindex="5">
            </form>
        </article>

    </main>
</div>
<div class="container-footer">
    <footer class="footer">
        <h3 class="footer__title">Palo Alto</h3>
        <ul class="footer__menu">
            <li class="footer-menu__item"><a href="index.html">Home</a></li>
            <li class="footer-menu__item"><a href="#">About</a></li>
            <li class="footer-menu__item"><a href="#">Archive</a></li>
            <li class="footer-menu__item__inactive">Contact</li>
            <a href="index.html">
                <li class="footer-menu__item__search"></li>
            </a>
        </ul>
        <p class="footer__note">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec
            hendrerit
            ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt
        </p>
        <p class="footer__rights">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a href="index.html"
                                                                                                      class="footer__rights__link">PixelBuddha
            Team</a></p>
        <div class="footer__social social">
            <a href="http://facebook.com"> <span class="social__facebook"></span></a>
            <a href="http://twitter.com"> <span class="social__twitter"></span></a>
            <a href="http://instagram.com"> <span class="social__instagram"></span></a>
            <a href="http://pinterest.com"> <span class="social__pinterest"></span></a>
        </div>
    </footer>
</div>
</body>
</html>