.content__post {
    padding: 18px 95px 56px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    background-color: #ffffff;
    margin-bottom: 52px;
}

.post__category {
    font-size: 14px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    height: 32px;
    background-color: #5c6bc0;
    display: inline-block;
    padding: 8px 12px;
    box-sizing: border-box;
    text-transform: capitalize;
    position: relative;
    float: right;
    left: 110px;
    transition: padding 0.3s, height 0.3s, background-color 0.3s;
}

.post__category:hover {
    padding: 10px 18px;
    height: 36px;
    background-color: #6b79c6;
}

.post__category:active {
    background-color: #5c6bc0;
}

.post__date {
    font-size: 18px;
    color: #bdbdbd;
    font-weight: bold;
    margin: 38px 0 0 0;
    display: inline-block;
}

.post__date__small {
    font-size: 14px;
    color: #bdbdbd;
    font-weight: bold;
    margin: 22px 0 0 0;
    display: inline-block;
}

.post__title {
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
    margin: 15px 0 39px 0;
    padding-bottom: 35px;
    border-bottom: 2px solid #eeeeee;
}

.post__text {
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    margin: 21px 0 0 0;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    margin-top: 23px;
}

.post__button {
    font-size: 21px;
    color: #5c6bc0;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    padding: 18px 33px;
    position: relative;
    left: -34px;
    border: 1px solid transparent;
}

.post__button:hover {
    border: 1px solid #f1f1f1;
}

.post__button:active {
    border: 1px solid #5c6bc0;
}

.post__hashtags {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hashtags__item {
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    color: #b7b7b7;
}

.hashtags__item:before {
    content: "#";
}

.hashtags__item:after {
    position: relative;
    display: block;
    bottom: -2px;
    content: "";
    background-color: #b7b7b7;
    height: 1px;
    width: 0;
    transition: right 0.3s, width 0.3s;
}

.hashtags__item:hover:after {
    right: -10px;
    width: calc(100% - 10px);
}

.hashtags__item:active:after {
    width: 0;
}

.hashtags__item:first-child {
    margin: 0;
}

.hashtags__item:active {
    color: #5c6bc0;
}

.photo__center {
    max-width: 952px;
    width: calc(100% + 190px);
    height: auto;
    margin: -20px 0 21px -95px;
}

.post__photo {
    transition: filter 0.5s;
}

.post__photo:hover {
    filter: brightness(80%);
}

.post__text_important {
    font-size: 25px;
    line-height: 38px;
    color: #7f7f7f;
    font-style: italic;
    margin: 42px 0 0 0;
}

.photo__left {
    width: auto;
    height: auto;
    float: left;
    margin: 0 23px 43px 0;
}

.post__text_quote {
    font-size: 20px;
    line-height: 30px;
    color: #949597;
    border-left: 4px solid #eeeeee;
    padding-left: 22px;
}

@media screen and (max-width: 630px) {

    .post__footer {
        flex-direction: column;
    }

    .post__button {
        left: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {

    .post__button {
        display: inline-block;
        position: inherit;
        left: 0;
        padding: 17px;
    }

    .post__title {
        font-size: 32px;
        line-height: 42px;
    }

    .photo__left {
        float: none;
        margin: 0 calc((100% - 175px) / 2);
    }

    .content__post {
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
    }

    .post__category {
        width: auto;
        min-width: 124px;
        position: absolute;
        left: calc(100% - 124px);
        right: 0;
        top: 0;
        font-size: 15px;
    }

    .post__date {
        margin-top: 29px;
    }

    .photo__center {
        width: calc(100% + 100px);
        margin: -20px 0 21px -50px;
    }
}

@media screen and (max-width: 320px) {

    .content__post {
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
    }

    .post__title {
        font-size: 24px;
    }

    .post__text {
        font-size: 16px;
        line-height: 30px;
    }

    .post__text_important {
        font-size: 16px;
        line-height: 30px;
    }

    .post__text_quote {
        font-size: 16px;
        line-height: 30px;
    }

    .post__button {
        font-size: 20px;
        padding: 10px;
        position: relative;
        left: -10px;
    }

    .post__hashtags {
        font-size: 15px;
    }

    .photo__left {
        width: 100%;
        margin: 0;
    }

    .photo__center {
        width: calc(100% + 40px);
        margin: -20px 0 0 -20px;
    }

    .footer__menu {
        flex-direction: column;
        align-items: center;
    }
}
