body {
    background-color: #f7f9fc;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 952px;
}

@media screen and (max-width: 982px) {

    .container {
        margin: 0 15px;
    }
}

.header {
    margin: 50px 0 56px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header__title {
    display: flex;
    font-size: 42px;
    line-height: 25px;
    color: #333333;
    font-weight: bold;
    font-style: italic;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: baseline;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 63%;
}

.header-menu__item, .header-menu__item__inactive, .footer-menu__item, .footer-menu__item__inactive {
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 16px;
    line-height: 25px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.header-menu__item__inactive, .footer-menu__item__inactive {
    opacity: 0.5;
}

.header-menu-item, .header-menu__item__inactive {
    color: #333333;
}

.header-menu__item:after {
    position: relative;
    display: block;
    bottom: -10px;
    right: -100%;
    content: "";
    background-color: #5c6bc0;
    height: 2px;
    width: 0;
    transition: right 0.3s, width 0.3s;
}

.header-menu__item:hover:after {
    right: 0;
    width: 100%;
}

.header-menu__item:active {
    color: #5c6bc0;
}

.header-menu__item__search, .footer-menu__item__search {
    padding: 0;
    margin: 0;
    display: flex;
    width: 16px;
    height: 17px;
    vertical-align: text-top;
}

.header-menu__item__search {
    background: url("../images/Search-header.png") center center no-repeat;
}

.header-menu__item__search:hover {
    background: url("../images/Search-header-hover.png") center center no-repeat;
}

.content__post {
    padding: 18px 50px 56px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    background-color: #ffffff;
    margin-bottom: 52px;
}

.post__category {
    font-size: 14px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    height: 32px;
    background-color: #5c6bc0;
    display: inline-block;
    padding: 8px 12px;
    box-sizing: border-box;
    text-transform: capitalize;
    position: relative;
    float: right;
    left: 65px;
    transition: padding 0.3s, height 0.3s, background-color 0.3s;
}

.post__category:hover {
    padding: 10px 18px;
    height: 36px;
    background-color: #6b79c6;
}

.post__category:active {
    background-color: #5c6bc0;
}

.post__date {
    font-size: 14px;
    color: #bdbdbd;
    font-weight: bold;
    margin: 38px 0 0 0;
    display: inline-block;
}

.post__date__small {
    font-size: 14px;
    color: #bdbdbd;
    font-weight: bold;
    margin: 22px 0 0 0;
    display: inline-block;
}

.post__title {
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
    margin: 15px 0 39px 0;
    padding-bottom: 35px;
    border-bottom: 2px solid #eeeeee;
}

.post__text {
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    margin: 21px 0 0 0;
}

.post__text:last-of-type {
    margin: 20px 0 0 0;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    margin-top: 23px;
}

.post__button {
    font-size: 21px;
    color: #5c6bc0;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    padding: 18px 33px;
    position: relative;
    left: -34px;
    border: 1px solid transparent;
}

.post__button:hover {
    border: 1px solid #f1f1f1;
}

.post__button:active {
    border: 1px solid #5c6bc0;
}

.post__hashtags {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hashtags__item {
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    color: #b7b7b7;
}

.hashtags__item:before {
    content: "#";
}

.hashtags__item:after {
    position: relative;
    display: block;
    bottom: -2px;
    right: calc(10px - 100%);
    content: "";
    background-color: #b7b7b7;
    height: 1px;
    width: 0;
    transition: right 0.3s, width 0.3s;
}

.hashtags__item:hover:after {
    right: -10px;
    width: calc(100% - 10px);
}

.hashtags__item:active:after {
    width: 0;
}

.hashtags__item:first-child {
    margin: 0;
}

.hashtags__item:active {
    color: #5c6bc0;
}

.photo__center {
    max-width: 952px;
    width: calc(100% + 100px);
    margin: 0 21px 0 0;
    position: relative;
    top: -20px;
    left: -50px;
}

.post__photo {
    transition: filter 0.5s;
}

.post__photo:hover {
    filter: brightness(80%);
}

.post__text__important {
    font-size: 25px;
    line-height: 38px;
    color: #7f7f7f;
    font-style: italic;
    margin: 42px 0 0 0;
}


.photo__left {
    float: left;
    margin: 0 10px 43px 0;
}

.post__text__quote {
    font-size: 20px;
    line-height: 30px;
    color: #949597;
    border-left: 4px solid #eeeeee;
    padding-left: 22px;
}









.container-footer {
    background-color: #5c6bc0;
    margin-top: 115px;
    padding-bottom: 30px;
 }

.footer {
    max-width: 952px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer__title {
    font-size: 36px;
    line-height: 25px;
    color: #4a569a;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    display: inline-block;
    margin: 70px 0 58px 0;
}

.footer__menu {
    list-style-type: none;
    padding: 0;
    margin: 0 0 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
    width: 63%;
}

.footer-menu__item, .footer-menu__item__inactive {
    color: #ffffff;
}

.footer-menu__item__search {
    background: url("../images/Search-footer.png") center center no-repeat;
}

.footer__note {
    font-size: 13px;
    line-height: 23px;
    max-width: 756px;
    width: 76%;
    margin: 0 0 0 0;
    text-align: center;
    color: #9da6d9;
}

.footer__note:before {
    display: block;
    border-top: 2px solid #5765b5;
    content: "";
    max-width: 755px;
    margin-bottom: 35px;
}

.footer__note:after {
    display: block;
    border-top: 2px solid #5765b5;
    content: "";
    max-width: 700px;
    margin: 35px 0 37px 0;
}

.footer__rights {
    font-size: 14px;
    line-height: 30px;
    color: #9da6d9;
    text-align: center;
    margin: 0 0 29px 0;
}

.footer__rights__link {
    font-size: 14px;
    line-height: 30px;
    color: #fff;
}

.footer__social {
    margin: 0 auto;
}

.social {
    width: 167px;
}

.social__facebook {
    display: inline-block;
    background-image: url(../images/Social.png);
    background-position: 0 0;
    width: 24px;
    height: 22px;
    margin-right: 22px;
}

.social__instagram {
    display: inline-block;
    background-image: url(../images/Social.png);
    background-position: 0 -22px;
    width: 22px;
    height: 22px;
    margin-right: 22px;
}

.social__twitter {
    display: inline-block;
    background-image: url(../images/Social.png);
    background-position: -24px 0;
    width: 24px;
    height: 21px;
    margin-right: 22px;
}

.social__pinterest {
    display: inline-block;
    background-image: url(../images/Social.png);
    background-position: -22px -22px;
    width: 22px;
    height: 22px;
}


.footer-menu__item:after {
    position: relative;
    display: block;
    bottom: -10px;
    right: -100%;
    content: "";
    background-color: #fff;
    height: 2px;
    width: 0;
    transition: right 0.3s, width 0.3s;
}

.footer-menu__item:hover:after {
    right: 0;
    width: 100%;
}

.footer-menu__item:active {
    color: #5c6bc0;
}






















@media screen and (max-width: 480px) {

    .header__menu {
        display: block;
        width: 37px;
        height: 27px;
        background: url("../images/menu.png") no-repeat right top;
    }

    .header-menu__item, .header-menu__item__inactive,.header-menu__item__search {
        display: none;
    }

    .post__footer {
        display: block;
    }

    .post__button {
        display: inline-block;
        position: inherit;
        left: 0;
        padding: 17px;
    }

    .post__title {
        font-size: 32px;
        line-height: 42px;
    }

    .photo__left {
        float: none;
        margin: 0 calc((100% - 186px) / 2);
    }

    .footer {
        width: calc(100% - 20px);
        padding: 10px;
    }

    .footer__menu {
        width: 100%;
    }

    .footer-menu__item__search {
        display: none;
    }

}






@media screen and (max-width: 320px) {

    .content__post {
        padding: 20px;
        position: relative;
    }

    .post__category {
        width: auto;
        position: absolute;
        left: 40%;
        right: 0;
        top: 0;
    }

    .post__title {
        font-size: 24px;
        line-height: 32px;
    }

    .post__text {
        font-size: 16px;
        margin-bottom: 34px;
        padding-bottom: 30px;
    }

    .post__button {
        font-size: 20px;
        padding: 10px;
        position: relative;
        left: -10px;
    }

    .post__hashtags {
        font-size: 15px;
    }

    .photo__left {
        width: 100%;
        margin: 0;
    }

    .photo__center {
        width: calc(100% + 40px);
        left: -20px;
    }

    .footer__menu {
        flex-direction: column;
        align-items: center;
    }

}