<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
<div class="post">
    <div class="post__photo">
        <img src="../images/post-photo.jpeg">
        <div class="photo__icon">
            <img src="../images/photo-icon.png">
        </div>
    </div>
    <h2 class="post__category">Adventures</h2>
    <h1 class="post__title">Awesome gallery post</h1>
    <p class="post__date">January 19, 2016</p>
    <p class="post__button">Read More</p>
    <div class="post__line"></div>
    <div class="post__comments">
        <img src="../images/comments-icon.png" class="comments__icon">
        <div class="comments__title">02 Comment</div>
    </div>
</div>
</body>
</html>