<aside class="sidebar">
    <div class="about-author">
        <img class="about-author__photo" src="../images/about-author.png">
        <h4 class="about-author__title">About me</h4>
        <p class="about-author__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="top-posts">
        <h5 class="top-posts__title">Top posts</h5>
        <ul class="top-list">
            <li class="top-list__item">
                <p class="top-list__post-title">A day exploring the Alps</p>
                <p class="top-list__comments-number">24 comments</p>
            </li>
            <li class="top-list__item">
                <p class="top-list__post-title">American dream</p>
                <p class="top-list__comments-number">19 comments</p>
            </li>
            <li class="top-list__item">
                <p class="top-list__post-title">Cold winter days</p>
                <p class="top-list__comments-number">15 comments</p>
            </li>
        </ul>
    </div>
</aside>