body{
    margin: 0;
}

.header, .main{
    width: 1250px;
    margin: 0 auto;
}

.header{
    padding: 120px 0 100px 0;
    border-bottom: 1px solid #333c40 ;
}

.header__title{
    font-family: Arial;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    color: #434244;
    margin: 0;
}

.header__subtitle {
    font-family: Arial;
    font-size: 27px;
    font-weight: normal;
    color: #434244;
    margin: 15px 0 0 0;
}

.contacts{
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__contacts{
    margin-top: 30px;
}

.contacts__item{
    display: inline-block;
    margin-right: 10px;
}

.contacts__link{
    font-family: Arial;
    text-decoration: none;
    font-size: 17px;
    color: #9c9da0;
}

.main{
    padding: 40px 0 510px 0;
    font-size: 0;
}

.main__left, .main__right{
    display: inline-block;
    vertical-align: top;
}

.main__left{
    width: 425px;
}

.main__right{
    width: 825px;
    padding-left: 65px;
    box-sizing: border-box;
}

.main__avatar{
    margin-bottom: 35px;
}

.personal-info__title, .experience__title{
    padding: 10px 25px;
    margin: 0;
    display: inline-block;
    background-color: #e8c734;
    font-family: Arial;
    font-size: 23px;
    font-weight: bold;
    color: #434244;
}

.personal-info__content{
    margin-top: 35px;
}

.personal-info__text__bold{
    font-weight: bold;
}

.personal-info__text{
    font-family: Arial;
    font-size: 18px;
    color: #434244;
}

.experience{
    font-size: 18px;
}

.experience__title{
    margin-bottom: 40px;
}

.place{
    margin-bottom: 60px;
    font-family: Arial;
}

.place__date{
    color: #9c9da0;
    font-size: 19px;
    margin: 0;
}

.place_job{
    font-weight: bold;
    margin: 30px 0 0 0;
    color: #434244;
}

.place__company{
    margin-top: 6px;
}

.place__company__name{
    font-family: Arial;
    font-size: 19px;
    color: #434244;
    padding-right: 10px;
    border-right: 1px #434244 solid;
    display: inline-block;
    margin: 0;
}

.place__company__link{
    padding-left: 10px;
    text-decoration: none;
    font-size: 19px;
    color: #434244;
    display: inline-block;
}

.place__description{
    font-size: 17px;
    margin: 30px 0 0 0;
    color: #9c9da0;
}

.place__description__bold{
    font-weight: bold;
}

.footer{
    height: 45px;
    background-color: #f2d529;;
}