<header class="header">
    <h1 class="logo">
        minimø
    </h1>
    <ul class="menu">
        <li class="menu__item">
            Lifestyle
        </li>
        <li class="menu__item">
            Photodiary
        </li>
        <li class="menu__item">
            Music
        </li>
        <li class="menu__item">
            Travel
        </li>
    </ul>
    <img class="header__photo" src="./images/header-image.png">
</header>