<footer class="footer">
    <div class="footer__container">
        <ul class="footer-list">
            <li class="footer-list__item">
                Terms and conditions
            </li>
            <li class="footer-list__item">
                Privacy
            </li>
        </ul>
    </div>
</footer>