<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Palo Alto, article, blog"/>
    <meta name="description" content="This is blog Palo Alto with some philosophic articles.">
    <title>Contacts</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
    <link rel="shortcut icon" href="./images/favicon.ico" sizes="16x16"/>
    <link rel="shortcut icon" href="./images/favicon.png" sizes="16x16"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    {{>header/header}}
    {{>@partial-block}}
</div>
<div class="container-footer">
    {{>footer/footer}}
</div>
</body>
</html>